{% extends 'base.html' %}
{% load static %}
{% block content %}
<article>
   <h1 style="text-align:center;">Welcome ToLittleLemon Restaurant</h1>
   <img src="{% static 'restaurant/restaurant inside alternative.jpg' %}">
</article>

<div class="column">
   <p>
      Based in Chicago, Illinois, Little Lemon is a family owned
      Mediterranean restaurant, focused on traditional recipes served with a
      modern twist.
   </p>
   <p>
      The chefs draw inspiration from Italian, Greek, and Turkish culture
      and have a menu of 12-15 items that they rotate seasonally.
   </p>

   <p>
      The restaurant has a rustic and relaxed atmosphere with moderate
      prices, making it a popular place for a meal any time of the day.
   </p>

   <p>
      Little Lemon is owned by two Italian brothers, Mario and Adrian, who
      moved to the United States to pursue their shared dream of owning a
      restaurant.
   </p>

   <p>
      To craft the menu, Mario relies on family recipes and his experience
      as a chef in Italy.
   </p>

   <p>
      Adrian does all the marketing for the restaurant and led the effort to
      expand the menu beyond classic Italian to incorporate additional
      cuisines from the mediterranean region.
   </p>
</div>
<article>
   <h2>Opening Hours</h2>
   <img src="{% static 'restaurant/head_chef.jpg' %}">
   <p>
     The Little Lemon Restaurant is open 7 days a week, except for public holidays. 
   </p>
   <ul>
     <li>Mon - Fri: 2pm - 10pm</li>
     <li>Sat: 2pm - 11pm</li>
     <li>Sun: 2pm - 9pm</li>
   </ul>
 </article>
{% endblock %}